{% extends 'course/base.html' %}
{% load static %}
{% block title %}{{block.super}} | SignUp Page{% endblock title %}
{% block content %}

<h1><center>Sign Up</center></h1>
<form action="" method="POST" novalidate >
{% csrf_token %}

 <table>

   
{% for field in Form %}
{{field.label_tag}}{{field}}{{field.errors|striptags}}</br></br>
{% endfor %}
</table>

<input type="Submit" value="Submit">
</form>
{% if messages %}
{% for message in messages %}
<strong>
 {% if message.tags %}
{{message}}
{% endif %}
</strong>
{% endfor %}
{% endif %}
<a href="{% url 'login' %}">login</a>
{% endblock content %}







